{% extends "comics/base.html" %}

{% block contenido %}
<section>
  <div>
    
    <div style="margin-bottom: 20px;"></div> 
    <div style="text-align: left;">
      
    </div>
    <div style="margin-bottom: 20px;"></div> 
    
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  
                  <h1 class="text-center";  style="color: white; white-space: nowrap;">COMICS</h1>
                  
                  <span class="subheading">Un Blog de Comics e Historietas</span>
              </div>
          </div>
      </div>
  </div>


  </div>
</section>



{% endblock contenido %}





